body, html {
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(110vh);

  scroll-snap-type: y mandatory;
 
}
*{
  margin: 0;
  padding: 0;
}

section {
  margin: 0em !important;
  padding: 0em !important;

}
.section2{



  scroll-snap-align: start;
 transition: 0.3s;
}

.section22{
 

        /* global 92%+ browsers support */
      
        color: white;
}

.cta-and-contact{
  background-image: url("./Containers/Header/dude.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

}
.section23{
 

       
       color: rgb(0, 0, 0);
}

.inview{
  opacity: 1 !important;
  
}